#
# Transport
# Name: <%= @title %>
#

spdadd <%= @local_ip %> <%= @remote_ip %> <%= @proto %> -P out ipsec 
	esp/transport//unique;
spdadd <%= @remote_ip %> <%= @local_ip %> <%= @proto %> -P out ipsec 
	esp/transport//unique;

